.banner1 {
  width: 332px;
  height: 140px;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 160px;
  left: 0;
  right: 0;
  .image {
    object-fit: cover;
  }
  .bannerInfo {
    width: 100%;
    height: 100%;
    background: #636b7f;
    position: relative;
    p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #ffffff;
      padding: 45px 20px 10px 25px;
    }
    .saleBlock {
      position: absolute;
      .saleWrapper {
        color: #000000;
        position: absolute;
        background-color: #ffdc38;
        width: 64px;
        height: 24px;
        font-weight: 400;
        font-size: 12px;
        top: 20px;
        left: 20px;
        -webkit-transform: skew(150deg);
        -moz-transform: skew(150deg);
        -o-transform: skew(150deg);

        .value {
          position: absolute;
          color: #000000 !important;
          font-weight: 800 !important;
          font-size: 20px !important;
          top: -180%;
          left: -40%;
          -webkit-transform: skew(-150deg);
          -moz-transform: skew(-150deg);
          -o-transform: skew(-150deg);
        }
      }
    }
    .button {
      padding-left: 25px;
      cursor: pointer;
      position: relative;

      .choose {
        z-index: 1;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #ffffff;
        opacity: 0.8;
        padding-left: 25px;
        position: absolute;
        top: -44px;
        left: 0;
      }
      .circle {
        position: absolute;
        top: -2px;
        right: 80px;
        width: 20px;
        height: 20px;
        border: 2px solid #a8a7a7;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .banner1 {
    width: 300px;
    height: 100px;
    bottom: 110px;
    .image {
      display: none;
    }
    .bannerInfo {
      .button {
        display: none;
      }
    }
  }
}
